@import 'shared-ui/src/index.scss';

// Home Page
._LANDING_ {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
}

// Form Page
._FORM_ {
  display: flex;
  flex-direction: column;
  gap: 5rem;

  .user_info_content {
    display: flex;
    flex-direction: column;
    width: 400px;

    @media screen and (min-width: $breakpoint-xlarge) {
      width: 700px;
    }

    @media screen and (min-width: $breakpoint-large) {
      width: 600px;
    }

    @media screen and (min-width: #{$breakpoint-medium}) and (max-width: #{$breakpoint-large - 1}) {
      width: 500px;
    }

    @media screen and (max-width: $breakpoint-xsmall) {
      width: 80vw;
    }
  }
}
