@import 'shared-ui/src/index.scss';

// Home Page
._LANDING_ {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
}

// 404, 500 Custom Error Page
._ERROR_PAGE_ {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  ._wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 2;
    gap: 1rem;

    .title {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 1rem;
    }

    .explain {
      margin: 0 auto;
      max-width: 256px;
      font-size: 14px;
      font-weight: 500;
    }
  }
}

// Form Page
._FORM_ {
  display: flex;
  flex-direction: column;
  gap: 5rem;

  ._content {
    display: flex;
    flex-direction: column;
    width: 350px;

    @media screen and (min-width: $breakpoint-large) {
      width: 600px;
    }

    @media screen and (min-width: #{$breakpoint-medium}) and (max-width: #{$breakpoint-large - 1}) {
      width: 500px;
    }

    @media screen and (max-width: $breakpoint-xsmall) {
      width: 90vw;
      padding-top: 10vh;
    }
  }
}
