@import 'shared-ui/src/index.scss';

@mixin responsive-web {
  width: 400px;
  flex: 1;
  @media screen and (min-width: $breakpoint-xlarge) {
    width: 700px;
  }
  @media screen and (min-width: $breakpoint-large) {
    width: 600px;
  }
  @media screen and (min-width: #{$breakpoint-medium}) and (max-width: #{$breakpoint-large - 1}) {
    width: 500px;
  }
  @media screen and (max-width: $breakpoint-xsmall) {
    width: 80vw;
  }
}

// Home Page
._LANDING_ {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
}

// Form Page
._FORM_ {
  display: flex;
  flex-direction: column;
  gap: 5rem;

  .user_info_content {
    display: flex;
    flex-direction: column;
    @include responsive-web;
  }
}

// Result Page
._RESULT_ {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  padding: 10vh 0;

  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
    padding-bottom: 3rem;
  }
}

// Error Page
._ERROR_PAGE_ {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  ._wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 2;
    gap: 1rem;

    .title {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 1rem;
    }

    .explain {
      margin: 0 auto;
      max-width: 256px;
      font-size: 14px;
      font-weight: 500;
    }
  }
}

// My Page
._MY_PAGE_ {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6.4rem;
  padding: 6rem 0;

  @media screen and (min-width: $breakpoint-medium) {
    width: 800px;
  }
  @media screen and (min-width: $breakpoint-xsmall) and (max-width: #{$breakpoint-medium - 1}) {
    width: 88vw;
  }
  @media screen and (max-width: #{$breakpoint-xsmall - 1}) {
    width: 94vw;
  }

  .title_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  & .table_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.2rem;
  }
}

// Login
._LOGIN_ {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6rem;

  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .social_login_button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
  }
}
