@import 'shared-ui/src/index.scss';

._SWITCHER_ {
  position: relative;
  height: max-content;

  .select {
    border-radius: 4px;
    width: 100%;
    background-color: transparent;

    box-sizing: border-box;
    color: $blue_gray;
    box-sizing: border-box;
    cursor: pointer;

    &:hover {
      color: $gray_2;
    }
  }
}

._options {
  position: absolute;
  width: 100%;
  min-width: max-content;
  border: 1px solid $gray_3;
  border-radius: 8px;
  z-index: 10;
  background-color: #fff;
  box-sizing: border-box;
  width: 100%;
  top: calc(100% - 2px);
  right: 5px;
  padding: 4px;
  overflow-y: auto;
  box-shadow: $shadow-4;

  cursor: pointer;
  user-select: none;
}

._option {
  padding: 0.7rem 1rem;
  transition: all 0.2s ease-out;
  box-sizing: border-box;
  width: 100%;

  &:hover {
    background-color: $gray_1;
    border-radius: 6px;
    color: $blue_6;
  }
}
