@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
input,
textarea,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  font-size: 62.5%;
  font-family: 'Pretendard', 'Noto Sans KR', 'Roboto', -apple-system, 'BlinkMacSystemFont',
    system-ui, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Malgun Gothic', sans-serif;
  -webkit-font-smoothing: antialiased; // Safari, Chrome only
  -moz-osx-font-smoothing: grayscale; // Safari, Chrome only
  body {
    font-size: 1.6rem;
    font-weight: 500;
  }
}

a {
  background-color: transparent;
  text-decoration: none;
  outline: none;
  color: inherit;
  &:active,
  &:hover {
    text-decoration: none;
    color: inherit;
    outline: 0;
  }
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

select,
button {
  font: inherit;
  color: inherit;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  background: none;
  padding: 0;
  user-select: none;
  cursor: pointer;
  white-space: nowrap;
  letter-spacing: inherit;
}

hr {
  margin: 0;
  border: 0;
}
