@import '../../index.scss';

._SLIDER_ {
  position: relative;
  width: 100%;
  height: 40px;
  margin-top: 16px;
}

._input {
  width: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
  appearance: none;
  background: transparent;
}

.tooltip {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  padding: 4px;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
  font-size: 12px;
  white-space: nowrap;
}

._tooltip {
  position: absolute;
  display: inline-block;
  padding: 4px 8px;
  background-color: #333;
  color: #fff;
  font-size: 12px;
  border-radius: 4px;
  pointer-events: none;
}

$slider-thumb: rgba(58, 153, 255, 0.3);

._slider-thumb {
  &::-webkit-slider-thumb {
    appearance: none;
    width: var(--thumb-width);
    height: var(--thumb-height);
    margin-top: var(--thumb-margin-top);
    border-radius: 50%;
    background-color: $blue_5;
    cursor: pointer;
    transition: all 0.2s;
  }

  &::-moz-range-thumb {
    appearance: none;
    width: var(--thumb-width);
    height: var(--thumb-height);
    margin-top: var(--thumb-margin-top);
    border-radius: 50%;
    background-color: $blue_5;
    cursor: pointer;
    transition: all 0.2s;
  }

  &::-webkit-slider-thumb:hover {
    box-shadow: 0 0 0 7px $slider-thumb;
  }

  &::-webkit-slider-thumb:active {
    box-shadow: 0 0 0 10px $slider-thumb;
  }

  &::-moz-slider-thumb:hover {
    box-shadow: 0 0 0 7px $slider-thumb;
  }

  &::-moz-slider-thumb:active {
    box-shadow: 0 0 0 10px $slider-thumb;
  }

  &::-webkit-slider-runnable-track {
    height: var(--runnable-track-height);
    background-color: $gray_3;
    border-radius: 5px;
  }

  &::-moz-range-track {
    height: var(--runnable-track-height);
    background-color: $gray_3;
    border-radius: 5px;
  }

  &::-moz-focus-outer {
    border: 0;
  }
}
