@import 'shared-ui/src/index.scss';

// 404, 500 Custom Error Page
._ERROR_PAGE_ {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  ._wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 2;
    gap: 1rem;

    .title {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 1rem;
    }

    .explain {
      margin: 0 auto;
      max-width: 256px;
      font-size: 14px;
      font-weight: 500;
    }
  }
}
