@import '../../index.scss';

._INPUT_SELECT_ {
  div.input {
    position: relative;
  }

  input {
    padding: 5px 30px 5px 10px;
    border: 1px solid $gray_4;
    border-radius: 4px;
  }

  &.icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 12px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    &.open {
      transform: translateY(-50%) rotate(180deg);
    }
  }

  &.options {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    list-style: none;
    border: 1px solid $gray_4;
    border-top: none;
    border-radius: 0 0 4px 4px;
    background-color: $white;
    z-index: 1;
    max-height: 200px;
    overflow-y: auto;
  }

  &.option {
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: #eee;
    }

    &.selected {
      background-color: $blue_6;
      color: $white;
    }
  }

  // Size
  &.xs {
    height: 28px;
    padding: 0 8px;
    font-size: $font-size-small;
  }

  &.sm {
    height: 32px;
    padding: 0 12px;
    border-radius: 8px;
    font-size: $font-size-small;
  }

  &.md {
    height: 36px;
    padding: 0 12px;
    border-radius: 8px;
    font-size: $font-size-small;
  }

  &.lg {
    height: 44px;
    padding: 0 16px;
    border-radius: 10px;
    border-width: 2px;
    font-size: $font-size-medium;
  }

  &.xl {
    height: 56px;
    padding: 0 20px;
    border-radius: 14px;
    border-width: 2px;
    font-size: $font-size-large;
  }

  // Label
  .label {
    padding-left: 8px;
    cursor: pointer;
    user-select: none;
  }
}
