@import '../../index.scss';

// InputSelect wrapper
._INPUT_SELECT_ {
  position: relative;
  width: 100%;
  height: max-content;
}

// Label
._label {
  cursor: pointer;
  user-select: none;
}

._wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 6px;
  border: 1px solid $blue_gray;
  background-color: #fff;
  cursor: text;

  transition: all 0.2s ease-out;
  box-sizing: border-box;

  // Input Size
  &.xs {
    @extend .size-xs;
  }

  &.sm {
    @extend .size-sm;
    border-radius: 8px;
  }

  &.md {
    @extend .size-md;
    border-radius: 8px;
  }

  &.lg {
    @extend .size-lg;
    border-radius: 10px;
    border-width: 2px;
  }

  &.xl {
    @extend .size-xl;
    border-radius: 14px;
    border-width: 2px;
  }
}

// Input
._INPUT_ {
  border-radius: 4px;
  width: 100%;
  background-color: transparent;
  box-sizing: border-box;
  color: $blue_gray;

  &::placeholder {
    color: $gray_5;
  }
  &:focus {
    outline: none;
  }
}

// Select Icon
._icon {
  font-size: 12px;
  cursor: pointer;
  transform: rotate(-90deg);

  &.open {
    transform: rotate(90deg);
    transition: all 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  &:not(.open) {
    transition: all 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
}

// Size variant for input and dropdown option
.size-xs {
  height: 28px;
  padding: 0 8px;
  font-size: $font-size-small;
}

.size-sm {
  height: 32px;
  padding: 0 12px;
  font-size: $font-size-small;
}

.size-md {
  height: 36px;
  padding: 0 12px;
  font-size: $font-size-small;
}

.size-lg {
  height: 44px;
  padding: 0 16px;
  font-size: $font-size-medium;
  ._INPUT_.leading {
    padding-left: 8px;
  }
  ._INPUT_.tailing {
    padding-right: 8px;
  }
}

.size-xl {
  height: 56px;
  padding: 0 20px;
  font-size: $font-size-large;
  ._INPUT_.leading {
    padding-left: 8px;
  }
  ._INPUT_.tailing {
    padding-right: 8px;
  }
}
