@import '../../index.scss';

._INPUT_SELECT_ {
  //
}

.select-box__input {
  position: relative;
}

.select-box__input input {
  padding: 5px 30px 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.select-box__icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 12px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.select-box__icon--open {
  transform: translateY(-50%) rotate(180deg);
}

.select-box__options {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 4px 4px;
  background-color: #fff;
  z-index: 1;
  max-height: 200px;
  overflow-y: auto;
}

.select-box__option {
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.select-box__option:hover {
  background-color: #eee;
}

.select-box__option--selected {
  background-color: #007bff;
  color: #fff;
}
