@import '../../index.scss';

// TODO: OptionsList Styling
.options {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  border: 1px solid $gray_4;
  border-top: none;
  border-radius: 0 0 4px 4px;
  background-color: $white;
  z-index: 1;
  max-height: 200px;
  overflow-y: auto;
}

.option {
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: #eee;
  }

  &.selected {
    background-color: $blue_6;
    color: $white;
  }
}
